/* 
    07/05 -> color pallete: 
    dark blue: #102542
    red/pink: #F87060
    light gray: #CDD7D6
    brown/grullo: #B3A394
    white: #FFFFFF
 */

* {
  transition-duration: .3s;
}

body {
  /* background-color: #202935; */
  min-height: 100vh;
}

.dark {
  background-color: #cecece;
}

.dark .hero {
  background-color: #102542;
}

.dark .theme-changer {
  background-color: #102542;
}

/* LOADER */
.loading {
  overflow: hidden;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 70px;
}
.loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #fac400;
  }
  40% {
    stroke: #fac400;
  }
  66% {
    stroke: #fac400;
  }
  80%,
  90% {
    stroke: #fac400;
  }
}
.loader-container {
  background-color: #454545;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  z-index: 1040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  overflow: hidden;
  height: 100vh;
}

/* </LOADER> */

.hidden {
  visibility: hidden;
}

.conteudo {
  padding: 0;
}

.dark .scrollTop {
  background-color: #102542;
}

.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 200px;
  background-color: #F87060;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
  color: white;
  text-align: center;
}

.scrollTop:hover {
  background-color: #555555;
}

.btn-stop,
.btn-stop:hover {
  color: white;
}

/* etc */

h1 {
  font-size: 52px;
  text-align: center;
}

.intro-text p {
  font-size: 18px;
}

.intro-text {
  padding-top: 80px;
  min-height: 500px;
  padding-left: 15px;
}

.tech-icons {
  display: flex;
  max-width: 90%;
  font-size: 36px;
  justify-content: space-around;
  background-color: white;
  padding: 28px 0.5em;
  border-radius: 10px;
  box-shadow: 2px 3px 4px black;
  margin: 1em auto;
  color: #102542;
}

.tech-icons div {
  text-align: center;
}

.tech-icons div p {
  font-size: 15px;
  margin-bottom: 0;
}

.links {
  display: flex;
  width: 200px;
  font-size: 32px;
  justify-content: space-around;
  border-radius: 10px;
  margin: 1em auto;
}

a {
  color: white;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 38px;
}

hr {
  margin-top: 5px;
  margin-bottom: 20px;
}

.links i:hover {
  color: #cecece;
  transform: scale(1.2);
}

.tech-icons i {
  transition-duration: 0.3s;
}

.tech-icons i:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.dark .tag {
  background-color: #102542;
}

.tag {
  display: inline;
  background-color: #F87060;
  padding: 5px;
  border-radius: 5px;
  color: white;
  transition-duration: 0.3s;
}

.tag:hover {
  background-color: #f4f4f4;
  cursor: pointer;
  transition-duration: 0.3s;
  color: #202920;
}

.dark #reset-tag {
  background-color: #F87060;
}

.dark #reset-tag:hover {
  background-color: white;
}

#reset-tag {
  margin-left: 25px;
  background-color: #102542;
  color: #f4f4f4;
}

#reset-tag:hover {
  background-color: #cecece;
  color: #202920;
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

#projects {
  padding-bottom: 40px;
}

.project-card {
  width: 30%;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 5px 5px;
  padding: 5px 15px 15px 15px;
  transition-duration: 0.3s;
}

.dark .project-card {
  border: 1px solid white;
}

.dark .project-link {
  border: 2px solid white;
  
}

.project-thumbnail {
  height: 200px;
  width: 95%;
  margin: 0.5em auto;
  border-radius: 5px;
  display: block;
}

.project-link {
  display: block;
  border: 2px solid #cecece;
  width: 150px;
  padding: 0.5em 1em;
  margin: 0.2em auto;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition-duration: 0.3s;
  color: black;
}

.project-link:hover {
  background-color: #F87060;
  color: white;
  transition-duration: 0.3s;
}

.card-hid {
  opacity: 0.1;
  transition-duration: 0.3s;
}

.card-hid .project-link:hover {
  background-color: transparent;
  color: #cecece;
  cursor: default;
}

.tag-selector {
  margin-left: 15px;
}

.hero {
  display: block;
  box-sizing: border-box;
  background-color: #F87060;
  clip-path: ellipse(96% 100% at 50% 0%);
  color: white;  
  height: 90vh;
  padding: 30px 25px 100px 25px;
  }

.theme-changer {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 40px;
  width: 40px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F87060;
  border-radius: 100px;
  border: none;
  z-index: 1000;
}

.light .theme-changer {
  background-image: url('../assets/icon-moon.svg');
}

.dark .theme-changer {
  background-image: url('../assets/icon-sun.svg');
}

  .theme-changer:hover {
    
  }

@media (max-width: 1080px) {
  .project-thumbnail {
    height: auto;
  }
  .carousel-item {
    height: unset;
  }
}

@media (max-width: 800px) {
  .carousel {
    width: 100%;
  }

  .carousel-item {
    height: unset;
  }

  .project-thumbnail {
    height: auto;
    margin: 2em auto;
  }

  .tech-icons {
    width: 100%;
  }

  .project-card {
    text-align: center;
    max-width: unset;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
  }

  .project-card p {
    margin-left: 15px;
    margin-right: 15px;
  }

  .project-card br {
    display: none;
  }

  .project-thumbnail {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  #reset-tag {
    display: inline-block;
    margin: 10px 0 0 0;
  }
}
